body {
  background-color: #ffffff;
  background-image: url(images/bloc-logo.png),
  color: #000000;
  font-family: Helvetica;
  font-size: 15px;
}

h1 {
  font-size: 48px;
  line-height: 1.2em;
}

h3 {
  font-style: italic;
  font-size: 13px;
  line-height: 1.2em;
}

figcaption {
  padding-top: 1%;
  font-size: 10px;
  font-style: italic;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  background-image: url(./images/bloc-logo.png);
  background-repeat: no-repeat;
  background-position: top left;
  width: 100%;
}

.medium-pic {
  width: 100%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

.author {
  font-weight: 600;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

a {
    text-decoration: none;
}

a:hover {
    color:#ffffff; } /* mouse over */
}

p {
  line-height: 1.2em;
}

.story-text {
  line-height: 1.2em;
}
